StockTradingSimulator/Stock Trading Interface/Web References/RI_Notifier/RI_SyncNotify.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="RI_UserOrders_Handled">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="playID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="userID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="orderID" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="result" type="s:unsignedByte" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RI_UserOrders_HandledResponse">
        <s:complexType />
      </s:element>
      <s:element name="RI_Clear">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="playID" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="RI_ClearResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="RI_UserOrders_HandledSoapIn">
    <wsdl:part name="parameters" element="tns:RI_UserOrders_Handled" />
  </wsdl:message>
  <wsdl:message name="RI_UserOrders_HandledSoapOut">
    <wsdl:part name="parameters" element="tns:RI_UserOrders_HandledResponse" />
  </wsdl:message>
  <wsdl:message name="RI_ClearSoapIn">
    <wsdl:part name="parameters" element="tns:RI_Clear" />
  </wsdl:message>
  <wsdl:message name="RI_ClearSoapOut">
    <wsdl:part name="parameters" element="tns:RI_ClearResponse" />
  </wsdl:message>
  <wsdl:portType name="RI_SyncNotifySoap">
    <wsdl:operation name="RI_UserOrders_Handled">
      <wsdl:input message="tns:RI_UserOrders_HandledSoapIn" />
      <wsdl:output message="tns:RI_UserOrders_HandledSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="RI_Clear">
      <wsdl:input message="tns:RI_ClearSoapIn" />
      <wsdl:output message="tns:RI_ClearSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="RI_SyncNotifySoap" type="tns:RI_SyncNotifySoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RI_UserOrders_Handled">
      <soap:operation soapAction="http://tempuri.org/RI_UserOrders_Handled" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RI_Clear">
      <soap:operation soapAction="http://tempuri.org/RI_Clear" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="RI_SyncNotifySoap12" type="tns:RI_SyncNotifySoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="RI_UserOrders_Handled">
      <soap12:operation soapAction="http://tempuri.org/RI_UserOrders_Handled" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RI_Clear">
      <soap12:operation soapAction="http://tempuri.org/RI_Clear" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="RI_SyncNotify">
    <wsdl:port name="RI_SyncNotifySoap" binding="tns:RI_SyncNotifySoap">
      <soap:address location="http://jypost.eastmoney.com/Services/RI_SyncNotify.asmx" />
    </wsdl:port>
    <wsdl:port name="RI_SyncNotifySoap12" binding="tns:RI_SyncNotifySoap12">
      <soap12:address location="http://jypost.eastmoney.com/Services/RI_SyncNotify.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>